$font-body: 'Roboto', sans-serif;
$font-header: 'Roboto Mono', monospace;
$font-flygirl: 'EB Garamond', serif;
$sidebar-width:200px;
$color-accent:#4346df;
$color-main:#131512;
$color-highlight:#e8a25d;



body {
  background-color: #fff;
  font: 14px/1.5 $font-header;
  color:$color-main;
  font-weight:400;
  z-index:2;
}

div.content {
	padding-bottom:50px;
	margin-left:$sidebar-width;
	p {
		max-width:750px;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:5px;
	}
	img {
		display: block;
		max-width:100%;
		height:auto;
		vertical-align:middle;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:5px;
	}
	h3 {
		text-transform:uppercase;
		max-width:750px;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:5px;
	}
}

div.flygirl {
	font: 18px/1.25 $font-flygirl;
}

.sidebar {
	float:left;
	font: 16px/1.1 $font-header;
	height:100%;
	width:$sidebar-width;
	background-color:#fff;
	position:fixed;
	overflow:auto;
}


a {
	color:$color-accent;
	text-decoration:none;
	&:hover {
		color:$color-highlight;
	}
	&:active {
		color:$color-highlight;
	}
}

.sidebar a {
	display:block;
}

