$font-body: 'Roboto', sans-serif;
$font-header: 'Roboto Mono', monospace;
$font-flygirl: 'EB Garamond', serif;
$sidebar-width:200px;
$color-accent:#4346df;
$color-main:#131512;
$color-highlight:#e8a25d;

%text-centered {
	max-width:750px;
	margin-left:auto;
	margin-right:auto;
}

/* global site parameters */
body {
  background-color: #fff;
  font: 14px/1.5 $font-header;
  color:$color-main;
  font-weight:400;
  z-index:2;
}
a {
	color:$color-accent;
	text-decoration:none;
	&:hover {
		color:$color-highlight;
	}
	&:active {
		color:$color-highlight;
	}
}
footer {
	float:left;
	position:fixed;
	left:5px;
	bottom:0;
	height:100px;
	width:$sidebar-width;
	ul {
		list-style:none;
		margin:0;
		padding:0;
		font: 16px/1.1 $font-header;
	}
}

/* called in sidebar */
.sidebar {
	float:left;
	font: 16px/1.1 $font-header;
	height:75%;
	width:$sidebar-width;
	background-color:#fff;
	position:fixed;
	overflow:auto;
	img {
		vertical-align:top;
		display:block;
		padding-bottom:10px;
	}
	a {
		display:block;
	}
}

/* called in gallery layout */
.row {
	margin-left:$sidebar-width;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	flex: 32%;
	max-width: 32%;
	padding: 0 4px;
	img {
		margin-top: 8px;
		vertical-align: middle;
		max-width:100%;
	}
}

/* called in comics layout */
.content {
	padding-bottom:50px;
	margin-left:$sidebar-width;
	p {
		@extend %text-centered
	}
	img {
		display: block;
		max-width:100%;
		height:auto;
		vertical-align:middle;
		margin-left:auto;
		margin-right:auto;
		padding-bottom:5px;
	}
	h2 {
		@extend %text-centered
	}
	h3 {
		text-transform:uppercase;
		@extend %text-centered
	}
	h4 {
		@extend %text-centered
	}
}

/* called in blog layout */
.flygirl {
	font: 18px/1.25 $font-flygirl;
	ul {
		list-style:none;
		margin-left:0;
		padding-left:0;
	}
	li {
		padding-bottom:10px;
	}
	h1 {
		padding-bottom:0px;
	}
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
	flex: 45%;
	max-width: 45%;
	}
}
/* Responsive layout - single column */
@media screen and (max-width: 600px) {
	.column {
	flex: 100%;
	max-width: 100%;
	}
}

